/entrada_zip
/saida_materias
/saida_resumos
/temp_xml_DO1
/temp_xml_DO2
/temp_xml_DO3
/temp_xml_DO4
/temp_xml_DO5
/temp_xml_DO6
/temp_xml_DO7
/temp_xml_DO8
/temp_xml_DO9
/temp_xml_DO10
/temp_xml
alertas_erro.txt
log_processamento.txt
